@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-center mt-5">
        <h3>Bereit für neue Gerichte?</h3>
        <a asp-page="/Recipes/Index" class="btn btn-primary btn-lg">
            Zu meiner Projektübersicht
        </a>
    </div>